@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 4px;
  margin: 0px;
  padding: 0px;
  border: none;
}

window#waybar {
  background: @bg;
  color: @textActive;
  background: transparent;
}

#bluetooth,
#clock,
#network,
#pulseaudio,
#workspaces,
#custom-cliphist,
#custom-notifications,
#custom-power,
#taskbar,
#custom-updates,
#custom-diskfree,
#custom-backup,
#custom-pomodoro,
#custom-todo {
  background: @bg;
  color: @textActive;
  border-radius: 8px;
  opacity: 1;
  margin: 0px 2px 0px 2px;
  padding: 4px 8px 4px 8px;
}

.modules-left,
.modules-right {
  margin: 4px 2px 0 2px;
}

.modules-center {
  margin-top: 4px;
}

/* -----------------------------------------------------
 * Custom Media
 * ----------------------------------------------------- */
#custom-media-prev,
#custom-media-playpause,
#custom-media-next {
  background: @bg;
  color: @textActive;
  opacity: 1;
  padding: 4px 8px 4px 8px;
}

#custom-media-prev:hover,
#custom-media-playpause:hover,
#custom-media-next:hover {
  background: @bgActive;
}

#custom-media-next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#custom-media-prev {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#custom-media {
  padding-left: 10px;
}

/* -----------------------------------------------------
 * Custom Shutdown
 * ----------------------------------------------------- */
#custom-shutdown {
  margin: 0px 2px 0px 2px;
  padding: 4px 8px 4px 8px;
  color: #fff;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */
#workspaces {
  padding: 4px;
}

#workspaces label {
  font-size: 16px;
  padding: 0px 0px 0px 4px;
}

#workspaces button,
#workspaces button:hover {
  margin: 0px 2px;
  color: @text;
  border-radius: 4px;
  min-width: 0;
}

#workspaces button.visible,
#workspaces button.active {
  color: @textActive;
  background-color: @bgActive;
}

#workspaces button.special,
#workspaces button.urgent {
  color: #db4b4b;
}

/* -----------------------------------------------------
 * Custom Updates & Disk Free
 * ----------------------------------------------------- */
#custom-diskfree.green,
#custom-updates.green {
  background-color: #449dab;
}

#custom-diskfree.yellow,
#custom-updates.yellow {
  background-color: #e0af68;
  color: #ffffff;
}

#custom-diskfree.red,
#custom-updates.red {
  background-color: #db4b4b;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Custom Updates & Disk Free
 * ----------------------------------------------------- */
#custom-pomodoro.break {
  background-color: #449dab;
}

#custom-pomodoro.done {
  background-color: #a6e3a1;
  color: #11111b;
}
